<ng-container *ngIf="!badRequest;else handelBadRequest">
  <div class="card">
    <h2>{{title}}</h2>
    <p>{{body}}</p>
    <div class="buttons mt-3">
      <button type="button" class="btn btn-primary mr-2" (click)="editPost()">Edit</button>
      <button type="button" class="btn btn-danger" (click)="deletePost()">delete</button>
    </div>
  </div>
</ng-container>
<ng-template #handelBadRequest>
  <div class="badRequest">
    <span> Error in the server or Bad connection , Please try again</span>
  </div>
</ng-template>
<div class="loader" *ngIf="loadData"></div>