<h1>Documentation about the task</h1>
<h4> this task is about users and their posts</h4>
<p class="mt-5">1- To see all Users click 'users' in navbar </p>
<p>2- you will see a list of users ,each user has a photo ,name , posts </p>
<p>3- if you want to see all posts about a user , click on a word 'here' in users Page</p>
<p>4- after click on 'here' you will see the selected post in a new page which can be update or delete </p>
<p>
    <span class="boldText">Notes : </span>
    API Requests (patch and delete) of 'JSONPlaceholder' are Just for Test , no data Updated or deleted from database so
    if you want to know those requests are work or not you can open (consle or network ) by click " Ctrl + shiift + i "
</p>